theme: auto

server:
  address: 'tcp://:9091'

log:
  level: debug

identity_validation:
  reset_password:
    jwt_secret: 'CHANGE_ME_LONG_RANDOM_JWT_SECRET'

#authentication_backend:
#  file:
#    path: '/config/users_database.yml'


authentication_backend:
  ldap:
    address: 'ldap://lldap:3890'
    base_dn: 'dc=localtest,dc=me'

    user: 'uid=admin,ou=people,dc=localtest,dc=me'
    password: 'SuperSecretAdminPass123'

    users_filter: '(&({username_attribute}={input})(|(objectClass=person)(objectClass=inetOrgPerson)))'
    groups_filter: '(&(member={dn})(objectClass=groupOfNames))'

    attributes:
      username: 'uid'
      mail: 'mail'
      group_name: 'cn'


webauthn:
  disable: false
  enable_passkey_login: true
  display_name: 'Authelia POC'
  experimental_enable_passkey_uv_two_factors: true
  timeout: '60 seconds'
  selection_criteria:
    discoverability: required
    user_verification: required

access_control:
  default_policy: deny
  rules:
    - domain: 'auth.localtest.me'
      policy: one_factor

    - domain: 'app.localtest.me'
      policy: two_factor

session:
  secret: 'CHANGE_ME_LONG_RANDOM_SESSION_SECRET'
  cookies:
    - name: 'authelia_session'
      domain: 'localtest.me'
      authelia_url: 'https://auth.localtest.me'
      default_redirection_url: 'https://app.localtest.me/app'
      same_site: none
  expiration: '1 hour'
  inactivity: '5 minutes'
  redis:
    host: 'redis'
    port: 6379

storage:
  encryption_key: 'CHANGE_ME_LONG_RANDOM_ENCRYPTION_KEY_32+CHARS'
  local:
    path: '/config/db.sqlite3'

notifier:
  smtp:
    address: smtp://mailhog:1025
    sender: "Authelia <no-reply@localtest.me>"
    subject: "[Authelia] {title}"
    disable_starttls: true

regulation:
  modes:
    - 'ip'
  max_retries: 0
